#book{
  #sidebar{
  }
  #chapters-list{
    border-right: 1px solid $dark-color;
    padding-right: 1em;
    .sortable-placeholder{
      background-color: #7fc4f6;
      height: 2rem;
    }
    a{
      color: $grey-color;
    }
    .chapter{
      i.fa-bars{
        cursor: move;
        padding: 0.3em 0;
        font-size: 1.1em;
        margin-right: 0.3rem;
      }
      a.chapter-title{
        margin-right: 1em;
        .fa-caret-right{
          display: inline-block;
        }
        .fa-caret-down{
          display: none;
        }
      }
      a.chapter-edit, a.chapter-delete{
        float: right;
        margin-left: 0.5em;
        visibility: hidden;
      }
      &:hover{
        a.chapter-edit, a.chapter-delete{
          visibility: visible;
        }
      }
      .sections{
        margin-left: 1em;
        display: none;
        margin-left: 3rem;
        .section{
          padding-bottom: 0.3rem;
          a.section-title{
            margin-right: 1em;
            display: block;
          }
        }
      }
      &.expanded{
        a.chapter-title{
          .fa-caret-right{
            display: none;
          }
          .fa-caret-down{
            display: inline-block;
          }
        }
        .sections{
          display: block;
        }
      }
    }
  }
}
